body{
    background: rgb(251, 185, 222);
  background: linear-gradient(112deg, rgba(251, 185, 222, 1) 0%, rgba(139, 247, 249, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
}

/* TAMANHO DA TELA QUE FICA EM EFEITO DE VIDRO*/
.container{
    width: 80%;
    height: 80%;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    z-index: 1;

}

.container::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
    filter: blur(10px);
    margin: -20px;
}

/* MENU */

.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold;
}
.menu ul{
    list-style: none;
    display: flex;
    color: #fff;
    padding: 0;
}

.menu ul li{
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.active{
    background: #fc8828;
    padding: 3px 15px;
    border-radius: 8px;
}

.social-media{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    width: fit-content; /*A largura do elemento irá respeitar o tamanho do conteúdo*/
    height: 100%;
}

.social-media svg{
    margin: 15px;
}